= form_for @zone_act do |f|
  - if @zone_act.errors.any?
    #error_explanation
      %h2= "#{pluralize(@zone_act.errors.count, "error")} prohibited this zone_act from being saved:"
      %ul
        - @zone_act.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
