%h1 GameSex

.container.proba_fondo5
  .row
    .span12.proba_fondo4
      .box
        %h2 Jugador 1, elige:
        = get_sex_p1(@sex_p1, 'female.png', 1)
        = get_sex_p1(@sex_p1, 'male.png', 0)
  .row
    .span12.proba_fondo4
      .box
        %h2 Jugador 2, elige:
        = get_sex_p2(@sex_p2, 'female.png', 1)
        = get_sex_p2(@sex_p2, 'male.png', 0)

  .row
    .span4
      =link_to image_tag('configuration_edit.png', :size=>"40x40"), custom_wishes_path
    .span8
      Si no configuras tus preferencias las tiradas serán aleatorias
      = link_to 'COMIENZA A JUGAR!', play_path, :class=>'btn btn-danger btn-large'
      
  