.container.proba_fondo5
  .row
    .span12.proba_fondo4
      .span3
        .box
          %h5
            -if @actual_player == 1
              = @p1_name
            -else
              = @p2_name
      
  .row
    .dado
      %h4.text-play= @act.description.gsub(" ", "<br/>").html_safe

    .dado
      %h4.text-play= @zone.name.gsub(" ", "<br/>").html_safe
  .row
    .probass
      = link_to (image_tag 'clean.png', :size=>'30x30'),done_path, :title => "Hecho"
    
      = link_to 'Pasar', pass_path, :class=>'label label-default'

      = link_to 'No lo hago!', pass_path, :class=>'label label-info'
