.container.proba_fondo5
  .row
    .span12.proba_fondo4
      .span3
        .box
          %h5
            -if @actual_player == 1
              = @p1_name
            -else
              = @p2_name

  .row
    .span12
      .span5
        .fondo_dado
          %h4.text-play= @act.description.gsub(" ", "<br/>").html_safe
      .span6
        .fondo_dado
          %h4.text-play= @zone.name.gsub(" ", "<br/>").html_safe
    
  .row
    .span12
      .probass
        = link_to (image_tag 'clean.png', :size=>'30x30'),done_path, :title => "Hecho"
    
        = link_to 'Pasar', pass_path, :class=>'label label-default'

  .row
    .span12
      .span5.proba_fondo2
        .span2
          = get_image_by_sex(@sex_p1)
          %span= @p1_name
        .span2
          %span= 'Has hecho: '+@p1_done.to_s
          %br
          %span= 'Has pasado: '+@p1_pass.to_s

      .span6.proba_fondo2
        .span2
          = get_image_by_sex(@sex_p2)
          = @p2_name
        .span2
          %span= 'Has hecho: '+ @p2_done.to_s
          %br
          %span= 'Has pasado: '+@p2_pass.to_s
