%h1 GameSex
= link_to 'Management', home_path

.container.proba_fondo5
  .row
    .span12.proba_fondo4
      .box
        %h2= 'Jugador '.concat(@actual_player.to_s).concat(' te toca')

  .row
    .span5.result.button_act
      %h3= @act.description.gsub(" ", "<br/>").html_safe

    .span6.result.button_zone
      %h3= @zone.name.gsub(" ", "<br/>").html_safe

  .row
    .span12.button_bar
      = link_to 'Pasar', pass_path, :class=>'btn btn-default'
      = link_to 'HECHO!!', done_path, :class=>'btn btn-success'


  .row
    .span5.result.button_toy
      %h3
        -if !@toy.nil?
          =@toy.name.gsub(" ", "<br/>").html_safe

    .span6.result.button_zone
      %h3 accesorio
  
 