%h1 GameSex
= link_to 'Management', home_path

.container.proba_fondo5
  .row
    .span12.proba_fondo4
      .box
        %h2= 'Jugador '.concat(@actual_player.to_s).concat(' te toca')

  .row
    .span6
      =image_tag 'cuadro19.png', :class=>'header_footer_text'
      %h3.text= @act.description.gsub(" ", "<br/>").html_safe
      =image_tag 'cuadro20.png', :class=>'header_footer_text'

    .span6
      =image_tag 'cuadro19.png', :class=>'header_footer_text'
      %h3.text= @zone.name.gsub(" ", "<br/>").html_safe
      =image_tag 'cuadro20.png', :class=>'header_footer_text'
  .row
    .span5.button_bar.button_done.left
      = link_to done_path, :title => "Hecho" do
        %h3 Hecho!
    .span6.button_bar.right
      = link_to 'Pasar', pass_path, :class=>'btn btn-default'

  .row
    .span6
      %h3
        -if !@toy.nil?
          =image_tag 'cuadro19.png', :class=>'header_footer_text'
          =@toy.name.gsub(" ", "<br/>").html_safe
          =image_tag 'cuadro20.png', :class=>'header_footer_text'

    .span6
      =image_tag 'cuadro19.png', :class=>'header_footer_text'
      %h3.text accesorio
      =image_tag 'cuadro20.png', :class=>'header_footer_text'
  
 