.navbar.navbar-fixed-top
  .navbar-inner
    .container
      .nav-collapse.collapse
        %table.table.table-bordered.table-striped.table-hover
          %thead
            %tr
              %th.tamanho_celda_primeira Accion
              - @acts.each do |act|
                %th.tamanho_celda= act.id.to_s.concat("\n").concat(act.description[0..5])

.container
  %section
    %br
    %br
    %br
    = link_to 'Back', relationships_path, :class=>'btn btn-danger'
    %table.table.table-bordered.table-striped.table-hover
      - @toys.each do |toy|
        %tr
          %td.tamanho_celda_primeira_toys= toy.name
          - @acts.each do |act|
            %td.tamanho_celda
              - @toy_act = findby_toy_and_act(toy.id, act.id)
              - if !@toy_act.nil? && !@toy_act.sex.nil?
                - if @toy_act.sex == 0
                  = link_to(image_tag('circle_blue_24_ns.png', :size=>"35x35"), @toy_act, :method => :delete, :data => { :confirm => 'Are you sure?' })
                - elsif @toy_act.sex == 1
                  = link_to(image_tag('circle_red_24_ns.png', :size=>"35x35"), @toy_act, :method => :delete, :data => { :confirm => 'Are you sure?' })
                - elsif @toy_act.sex == 2
                  = link_to(image_tag('circle_green_24_ns.png', :size=>"35x35"), @toy_act, :method => :delete, :data => { :confirm => 'Are you sure?' })
              - else
                = act.id
                = link_to(image_tag('circle_blue_24_ns.png', :size=>"15x15"), create_toy_act_path(:toy_id=>toy.id, :act_id=>act.id, :sex=>0))
                = link_to(image_tag('circle_red_24_ns.png', :size=>"15x15"), create_toy_act_path(:toy_id=>toy.id, :act_id=>act.id, :sex=>1))
                = link_to(image_tag('circle_green_24_ns.png', :size=>"15x15"), create_toy_act_path(:toy_id=>toy.id, :act_id=>act.id, :sex=>2))
     
  = link_to 'Back', relationships_path, :class=>'btn btn-danger'