= form_for @act do |f|
  - if @act.errors.any?
    #error_explanation
      %h2= "#{pluralize(@act.errors.count, "error")} prohibited this act from being saved:"
      %ul
        - @act.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    %label.control-label= 'Description:'
    .controls
      = f.text_field :description
  .control-group
    %label.control-label= 'Is default?'
    .controls
      = f.check_box :default
  .actions
    = f.submit 'Save'
